@import "../../../public/assets/scss/variables.scss";

.navbanHead {
  & .firstHeading {
    font-family: "ObjectSans-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 43px;
    color: $colorBlack;

    /* media queries */
    @media (max-width: 767px) {
      font-size: 34px;
    }
  }
  & .firstLetter {
    & .btn,
    .btn:hover,
    .btn:focus,
    .btn-primary:not(:disabled):not(.disabled).active,
    .btn-primary:not(:disabled):not(.disabled):active,
    .show > .btn-primary.dropdown-toggle {
      background: $colorfullBlack;
      border-radius: 5px;
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
      display: block;
      align-items: center;
      text-align: center;
      color: #fff;
      padding: 37px 0px;
      margin-top: 20px;
      position: relative;
      z-index: 99;
      width: 100%;
      border: 1px solid $colorfullBlack;
      box-shadow: none;
      /* media queries */
      @media (max-width: 400px) {
        padding: 31px 0px;
      }
    }
    & .pattern {
      position: absolute;
      top: 1px;
      left: -20px;
      z-index: 0;

      /* media queries */
      @media (max-width: 576px) {
        left: -1px;
        top: -43px;
      }

      @media screen and (min-width: 577px) and (max-width: 767px) {
        left: -3px;
      }
    }
    & .star1 {
      position: absolute;
      top: 58px;
      left: -20px;
      z-index: 99;
      /* media queries */
      @media (max-width: 576px) {
        left: -2px;
        top: 11px;
      }

      @media screen and (min-width: 577px) and (max-width: 767px) {
        left: -3px;
      }
    }

    & #popover-contained {
      max-width: 270px !important;
      background: #ffffff;
      box-shadow: 0px 3px 20px rgba(125, 126, 129, 0.13);
      border-radius: 5px;
      width: 270px;
      border: none;
      padding: 10px 10px 0px;

      & p {
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        color: #252525;
      }

      & span {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #252525;
      }
    }

    /* media queries */
    @media (max-width: 576px) {
      margin-left: 3px;
      margin-top: -44px;
    }
  }

  & .bannerDetail {
    background: #ffffff;
    border-radius: 5px;
    padding: 14px 22px;
    margin: 17px 12px 0px;
    text-align: center;

    & thead th {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: $paracolorBlack;
      border: none;

      /* media queries */
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }

    & tbody td {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: $colorBlack;
      border: none;

      /* media queries */
      @media (max-width: 767px) {
        font-size: 12px;
        padding: 0px 10px;
      }
    }

    /* media queries */
    @media (max-width: 400px) {
      margin: 0px;
      padding: 0px;
    }

    @media screen and (min-width: 200px) and (max-width: 767px) {
      margin: 17px 0px 0px;
    }
  }

  .bannerrightCol {
    background: #ffffff;
    border-radius: 5px;
    padding: 27px 22px 25px;
    margin: 17px 0px 0px;

    & h6 {
      font-family: "ObjectSans-Bold";
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 17px;
      color: $colorBlack;
    }
    & p {
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: $paracolorBlack;
    }
    & span {
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: #ffffff;
      background: #222222;
      border-radius: 5px;
      padding: 20px 12px;
      vertical-align: top;
      display: inline-block;
      margin-top: -7px;
    }

    /* media queries */

    @media (max-width: 410px) {
      padding: 26px 29px 12px 9px;
    }

    @media screen and (min-width: 411px) and (max-width: 767px) {
      padding: 26px 15px 12px 9px;
    }
  }
}

.tablebgHead {
  & h5 {
    font-family: "ObjectSans-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 116%;
    display: flex;
    align-items: center;
    color: $colorBlack;

    /* media queries */
    @media (max-width: 767px) {
      font-size: 24px;
      margin-bottom: 13px !important;
      float: none;
    }
  }

  & p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 116%;
    color: $colorBlack;
    float: right;

    /* media queries */
    @media (max-width: 767px) {
      font-size: 15px;
      float: none;
      margin-top: 5px !important;
    }
  }

  & .btn {
    float: right;
  }
}
.tablebgAuto {
  margin-top: auto;
}

.tablebg1 {
  & thead th {
    text-transform: inherit !important;
  }
  & td.nodata1 {
    font-weight: 500 !important;
    color: $colorfullBlack !important;
  }
}

td .custom-control-input:checked ~ .custom-control-label::before {
  color: $primary-color;
  border-color: $togglecolor;
  background-color: $togglecolor;
}

td .custom-switch .custom-control-label::before {
  left: -2.25rem;
  width: 2rem;
  border-radius: 100px;
  height: 1.25rem;
}
td .custom-control-label::before {
  background-color: $yellowtoggle;
  border: 1px solid $yellowtoggle;
}
td .custom-switch .custom-control-label::after {
  top: calc(0.25rem + 3px);
  left: calc(-2.25rem + 4px);
  width: calc(1rem - 2px);
  height: calc(1rem - 2px);
  background-color: $primary-color;
}

/*strategy modal*/
.modal-backdrop {
  background: $secondary-color !important;
  opacity: 0.92 !important;
}
.modal-dialog-centered {
  min-height: auto !important;
}
.modal-dialog {
  background: #ffffff;
  box-shadow: 0px 3px 20px rgba(0, 18, 80, 0.13);
  border-radius: 5px;
  border: none !important;

  /* media queries */
  @media (min-width: 992px) {
    max-width: 900px !important;
  }

  & .modal-content {
    padding: 30px !important;
    border: none !important;
  }

  & .modal-header,
  & .modal-body {
    border: none !important;
  }
  .modal-header .h4 {
    font-family: "ObjectSans-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 46px;
    color: $colorBlack;
  }
  & .close span {
    display: none;
  }
  & .close {
    position: relative;
  }
  & .close:before {
    position: absolute;
    background-image: url("../../images/cross.png");
    content: "";
    top: 0px;
    left: auto;
    right: 0px;
    background-size: auto;
    background-repeat: no-repeat;
    height: 17px;
    width: 17px;
  }
}
.cardStrategy {
  background: $primary-color;
  box-shadow: 0px 8px 30px rgba(4, 7, 26, 0.13),
    8px 0px 30px rgba(4, 7, 26, 0.13);
  border-radius: 5px;
  padding: 19px;

  & h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $colorBlack;
    min-height: 30px;
  }
  & img {
    max-width: 100%;
  }

  & p {
    font-weight: normal;
    font-size: 14px;
    line-height: 133%;
    color: $paracolorBlack;
  }

  & .dark {
    background: $colorBlack !important;
    border-radius: 5px !important;
    color: $primary-color !important;
    padding: 10px 10px !important;
  }
  & .btnpadding {
    padding: 10px 10px !important;
  }
  & span {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $colorBlack;
    display: inline-block;
  }
}
.thankyouModal .modal-content {
  padding: 0px !important;
  & .bgBlack {
    background: $colorBlack;
    border-radius: 0px 5px 5px 0px;
    height: 100%;
  }
  & .close span {
    display: none;
  }
  & .close {
    position: absolute;
    background-image: url("../../images/cross1.png") !important;
    content: "";
    top: 7%;
    left: auto;
    right: 3%;
    background-size: auto;
    background-repeat: no-repeat;
    height: 17px;
    width: 17px;
    background-repeat: no-repeat;
    z-index: 9;
  }
  & .close:before {
    display: none;
  }
  & h4 {
    font-weight: 500;
    font-size: 30px;
    line-height: 133%;
    display: flex;
    align-items: center;
    color: $primary-color;
  }
  & p {
    font-size: 17px;
    line-height: 131%;
    color: $primary-color;
  }
  & .btn-btnWhite {
    border: 1px solid $primary-color;
    box-sizing: border-box;
    border-radius: 5px;
    color: $primary-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 12px 26px;
  }
}

/* media queries */
@media (max-width: 767px) {
  .tablebg .table tbody tr td {
    padding: 4px 44px;
  }
}
