
@font-face {
  font-family: "ObjectSans-Bold";
  src: local("ObjectSans-Bold"),
    url(/fonts/ObjectSans-Bold.otf) format("truetype");
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  // background: $primary-color;
}
.inherit-color {
  color: inherit !important;
}
.no-underline {
  text-decoration: none !important;
  &:hover {
      text-decoration: none !important;
  }
}
