.popular__section {
    margin-top: -2.5rem;
}

.best-farmer-title {
   font-family: Roboto;
   font-style: normal;
   font-weight: 800;
   font-size: 30px;
   line-height: 116%;
   color: #070602;
}

.dashboard-root {
   background-color: #F4F4F4;
}

.borderCollapse {
    border-bottom-left-radius: 92% 32%;
    border-bottom-right-radius: 92% 32%;
    padding-bottom: 8rem;
}

.leaderbord-top {
    margin-top: -73px;
}