body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  // background: $primary-color;
}
.inherit-color {
  color: inherit !important;
}
.no-underline {
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
  }
}
