.card-inner-img {
  width: 60px;
  height: 60px;
}
.farmer-cards {
  background-color: #fff;
  border-radius: 3px;
  max-width: 375px;
  box-shadow: 0px 5px 20px rgba(0, 18, 80, 0.1);
}
.farmer-card-bottom {
  background: #FBFBFB;
}