
.page-wrapper {
    width: 100vw;
    height: 100vh;
    box-sizing: initial;
    background-image: url("./../../images/bg.png");
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    box-sizing: initial;
}

.b-modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(244, 244, 244, 0.35);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    box-sizing: initial;
}

.b-modal-wrapper.open {
    opacity: 1;
    visibility: visible;
    box-sizing: initial;
}

.b-modal {
    width: 600px;
    height: 400px;
    display: block;
    margin: 50% 0 0 -300px;
    position: relative;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    box-sizing: initial;
}

.b-modal-wrapper.open .b-modal {
    margin-top: -200px;
    opacity: 1;
    box-sizing: initial;
}

.head {
    width: 90%;
    height: 32px;
    padding: 1.5em 5%;
    overflow: hidden;
    background: #01bce5;
    box-sizing: initial;
}

.b-btn-close {
    width: 32px;
    height: 32px;
    display: block;
    float: right;
    box-sizing: initial;
}

.b-btn-close::before,
.b-btn-close::after {
    content: '';
    width: 32px;
    height: 6px;
    display: block;
    background: #fff;
    box-sizing: initial;
}

.b-btn-close::before {
    margin-top: 12px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    box-sizing: initial;
}

.b-btn-close::after {
    margin-top: -6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: initial;
}

.b-content {
    padding: 5%;
    box-sizing: initial;
}

.flow {
    stroke-dasharray: 8;
    animation: dash 0.5s linear;
    animation-iteration-count: infinite;
    box-sizing: initial;
}

@keyframes dash {
    to {
        stroke-dashoffset: -16;
    }
}