.cryptoinput {
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    display: flex;
    min-height: 3rem;
    margin-top: 30px;
    position: relative;
    transition: border 0.3s;
    padding: 5px 25px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
    }
    &:hover {
        border-color: #3E3E3E;
    }
    &.active {
        border-color: #d9d9d9;
    }
    &__label {
        font-size: 15px;
        display: inline-block;
        width: auto;
        padding: 0 10px;
        left: 15px;
        top: 0;
        position: absolute;
        transform: translateY(-100%);
        background: #fff;
        color: #C6C6C6;
    }
    &__selected {
        display: flex;
        align-items: center;
        color: #000;
        span {
            display: inline-block;
            margin-right: 5px;
        }
        cursor: pointer;
    }
    &__icon {
        // width: 20px;
        width: 22px;
        svg {
            max-width: 100%;
        }
    }
    &__caret {
        margin-top: -5px;
    }
    &__input {
        border: 0;
        font-size: 16px;
        color: #AAA8A8;
        flex: 1;
        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button { 
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0; 
        }
        &:focus {
            outline: none;
        }
    }
    &__list {
        position: absolute;
        top: calc(100%);
        left: -2px;
        right: -2px;
        border: 1px solid #d9d9d9;
        background: #fff;;
        color: #AAA8A8;
        font-size: 16px;
        max-height: 200px;
        overflow-y: scroll;
        border-radius: 2px;
        // border-top-color: transparent;
        &__item {
            display: flex;
            padding: 10px 25px;
            align-items: center;
            cursor: pointer;
            &:hover {
                background-color: #efefef;
            }
        }
    }
    &__name {
        flex: 3;
        padding: 0 10px;
    }
    &__percent {
        flex: 2;
        text-align: center;
    }
    &__value {
        flex: 4;
        text-align: end;
    }
}