.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: Object Sans;
  src: url("/public/assets/fonts/object-sans/ObjectSans-Regular.otf")
      format("opentype"),
    url("/public/assets/fonts/object-sans/ObjectSans-Bold.otf")
      format("opentype"),
    url("/public/assets/fonts/object-sans/ObjectSans-Heavy.otf")
      format("opentype"),
    url("/public/assets/fonts/object-sans/ObjectSans-Thin.otf")
      format("opentype");
}

@font-face {
  font-family: ObjectSans-Regular;
  src: url("/public/assets/fonts/object-sans/ObjectSans-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: ObjectSans-Bold;
  src: url("/public/assets/fonts/object-sans/ObjectSans-Bold.otf")
    format("opentype");
}

@font-face {
  font-family: ObjectSans-Heavy;
  src: url("/public/assets/fonts/object-sans/ObjectSans-Heavy.otf")
    format("opentype");
}

@font-face {
  font-family: ObjectSans-Thin;
  src: url("/public/assets/fonts/object-sans/ObjectSans-Thin.otf")
    format("opentype");
}

@font-face {
  font-family: CodecPro;
  src: url("/public/assets/fonts/CodecPro/CodecPro-Bold.ttf") format("truetype"),
    url("/public/assets/fonts/CodecPro/CodecPro-ExtraBold.ttf")
      format("truetype"),
    url("/public/assets/fonts/CodecPro/CodecPro-Light.ttf") format("truetype"),
    url("/public/assets/fonts/CodecPro/CodecPro-News.ttf") format("truetype");
}

@font-face {
  font-family: CodecPro-Bold;
  src: url("/public/assets/fonts/CodecPro/CodecPro-Bold.ttf") format("truetype");
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
