@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "../public/assets/scss/variables.scss";

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  background: $primary-color;
}

// @font-face {
//   font-family: Object Sans;
//   src: local("Object Sans"),
//     url("/public/assets/fonts/object-sans/ObjectSans-Regular.otf")
//       format("opentype");
// }

.colorBlack {
  color: $colorBlack !important;
}
.headsame {
  font-family: Object Sans;
  font-weight: bold;
  font-size: 45px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: $colorBlack;

  /* media queries */
  @media (max-width: 767px) {
    font-size: 28px;
  }
}
.parasame {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 132%;
  display: flex;
  align-items: center;
  color: #222222;
}
.bgyellowColor {
  background-color: $bgyellowColor;
}
.bggeryColor {
  background: $bggeryColor;
}

.btn.btnYellow:not(:disabled):not(.disabled).active,
.btn.btnYellow:not(:disabled):not(.disabled):active,
.show > .btn.btnYellow.dropdown-toggle {
  background-color: $secondary-color;
  border: 1px solid $secondary-color;
  color: $colorBlack;
}
